<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>@{{username}} - Qboard </title>
	</head>

	<body>
<img src="/images/art.jpg"/>

<p>Hello {{user}}</p>

<p>Welcome to Qboard</p>

<span class="wtxt">Edit your profile settings</span><br><br>

<form action="/{{username}}" method="post">

<label for="username">Account Name</label><br>
<input type="text" name="name" placeholder="Name" value="{{username}}" required /><br><br>

<label for="username">Date of birth</label><br>
<input type="date" name="dob" placeholder="dd.mm.yyy" required /><br><br>

<label for="username">Account Hint</label><br>
<textarea name="password" required/>
Say something to people who may know you, though even they would have to do some digging...
</textarea><br><br>

<input type="hidden" name="bt" value=""/>
<input type="hidden" name="request" value="update"/>

<button>Save</button>


</form>

<br><br><a href=""><button>Back to account</button></a>




	</body>
</html>

