<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>@{{username}} - Qboard </title>
	</head>

	<body>

<p>Welcome to Qboard</p>

<span class="wtxt">Edit your profile settings</span><br>


<a href=""><button>Back to account</button></a>




	</body>
</html>

