<html>
	<head>
		{{> resources}}
<title>{{title}}</title>
	</head>
	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<a href="/"><img src="/images/art.jpg"/></a>

{{#code}}
<p>Welcome to QBoard FAQ {{user}} </p> 
<p>You were redirected because {{code}} </p>
<span class="wtxt">{{id}}</span><br>

<div id="">
<b>{{code}}</b><br>
{{details}}

<p>Solution</p>
{{solution}}
</div>
{{/code}}

{{^code}}
<p>This is the FAQ page with default topics to look through</p>
{{/code}}









	</body>
</html>
