<html>
	<head>
		{{> resources}}
<title>{{title}}</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<a href="/"><img src="/images/art.jpg"/></a>

<p>Welcome to QBoard FAQ {{user}} </p> 
<span class="wtxt">{{id}}</span><br>

<p>You were redirected because {{reason}} </p>





	</body>
</html>
