<html>
	<head>
		{{> resources}}
<title>{{title}}</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<img src="/images/art.jpg">

<p>Welcome to QBoard Onboarding {{name}} </p> 
<span class="wtxt">{{id}}</span><br>

<p>Your username is: </p>
<span class="wtxt">{{username}}</span><br>

<p>You registered with email: </p>
<span class="wtxt"> <span class="material-icons" style="font-size:17px;vertical-align:text-top">person</span> {{email}}</span><br>







	</body>
</html>
