<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

<p>{{message}}</p>

<a href="{{name}}"><p>{{name}}</p></a>

<img src="{{image}}"/>

<p>Welcome to QBoard {{name}} </p> 
<span class="wtxt">{{id}}</span><br>

<p>Your username is: </p>
<span class="wtxt">{{username}}</span><br>

<p>You registered with email: </p>
<span class="wtxt"> <span class="material-icons" style="font-size:17px;vertical-align:text-top">person</span> {{email}}</span><br>




<button>Edit profile</button>









	</body>
</html>

