<html>
	<head>
		{{> resources}}
<title>Account Recovery</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<a href="/"><img src="/images/art.jpg"/></a>

<p>Welcome to QBoard {{name}} </p> 
<span class="wtxt">{{id}}</span><br>

<p>Recover your account here</p>

<form action="/account/recovery" method="post">

<label for="email">Your Accounts Email</label><br>
<input type="text" name="email" placeholder="Email" value="test@test.com"/><br><br>

<input type="hidden" name="bt" value=""/>
<input type="hidden" name="request" value="resetPassword"/>

<button>Recover </button>

</form>





	</body>
</html>
