<html>
	<head>
		{{> resources}}
<title>{{title}}</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<img src="/images/art.jpg">

<p>Welcome to QBoard {{name}} </p> 
<span class="wtxt">{{id}}</span><br>

<p>Recover your account here</p>





	</body>
</html>
