<html>
	<head>
		{{> resources}}
<title>Account Recovery</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>{{title}}</p>
<a href="/"><img src="/images/art.jpg"/></a>

<p>Welcome to QBoard {{name}} </p> 
<span class="wtxt">{{id}}</span><br>

{{#message}}
<p>{{message}}</p>
{{#confirm}}
{{!-- need to verify password is same here --}}
<form action="/account/reset" method="post">

<label for="email">Your Accounts Email and reset token</label><br>
<input type="email" name="email" placeholder="Email" value="sample@test.com"/><br><br>

<input type="password" name="npassword" placeholder="New Password" value="abcdefg"/><br><br>
<input type="password" name="rnPassword" placeholder="Renter Password" value="abcdefg"/><br><br>
<input type="text" name="token" placeholder="Your recovery token" value="ChrisToken"/><br><br>

<button>Recover </button>

</form>
{{/confirm}}
{{/message}}


{{^message}}
<p>Recover your account here</p>

<form action="/account/recovery" method="post">

<label for="email">Your Accounts Email</label><br>
<input type="text" name="email" placeholder="Email" value="test@test.com"/><br><br>

<input type="hidden" name="bt" value=""/>
<input type="hidden" name="request" value="resetPassword"/>

<button>Recover </button>

</form>
{{/message}}









	</body>
</html>
