<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
{{> resources}}
	</head>

	<body>

<br><br>
<img src="/images/art.jpg">
<br>


<p>404
	<br><br>

We could not find the requested page!<br><br>


{{message}}</p>



	</body>
</html>

