<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

	<p>Posts Rendered</p>
<img src="/images/art.jpg">


<p>Owner: {{Owner}}</p>
<p>Post: {{Title}}</p>




	</body>
</html>

