<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
 <title>Qboard - Post questions online</title>
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>Welcome to Q board</p>

<p>{{message}}</p>

<label for="username">Login to your account</label><br>
<a href="/login"><button>Log In</button></a><br><br>

<label for="username">Sign up for Qboard</label><br>
<a href="/signup"><button>Sign Up</button></a>


</form>





	</body>
</html>

