<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>Welcome to Q board</p>

<p>{{message}}</p>

<p>Please login to your account below</p>
<a href="/login"><button>Log In</button></a>


</form>





	</body>
</html>

