<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>Welcome to Q board</p>

<p>Please login to your account below</p>


<form action="/account/login" method="post">

<input type="text" name="username" placeholder="Username"/><br><br>

<input type="text" name="email" placeholder="Email"/><br><br>

<input type="hidden" name="bt" value=""/><br><br>

<input type="hidden" name="request" value="login" placeholder="Username"/><br><br>


<button>Log In</button>


</form>








	</body>
</html>

