<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>Login</title>
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>Welcome to Q board</p>

<p>Please login to your account below</p>

<p>{{message}}</p>

<form action="/account/login" method="post">

<label for="username">Your Username</label><br>
<input type="text" name="username" placeholder="Username" value="crisenitan" required /><br><br>

<label for="username">Your Password</label><br>
<input type="password" name="password" placeholder="Password" required /><br><br>

<input type="hidden" name="bt" value=""/>
<input type="hidden" name="request" value="login" placeholder="Username"/>

<button>Log In</button>


</form>








	</body>
</html>

