<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		{{> resources}}
 		<title>Ask a question</title>
	</head>

	<body>
		<a href="/"><img src="/images/art.jpg"></a>
		<form method="post" action="question/create">
			<p>Ask a new question</p>
		<label for="username">Question</label><br>
		<textarea name="q" required/>
		What if...
		</textarea><br><br>

		</form>
	




	</body>
</html>

