<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>@{{username}} - Qboard </title>
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>
{{#updated}}
<p class="wtxt">Account successfuly updated</p>
{{/updated}}

<p>{{#request}}{{request}} successful. <br>{{/request}} Welcome to Q board</p>

{{#self}}
<p>Hello there {{name}}. @{{username}} </p>
<h class="wtxt">Your email is:</h> <p>{{email}}</p>

<h class="wtxt">Date of birth:</h> <p>{{dob}}</p>

<h class="wtxt">Profile hint:</h><p>{{hint}}</p>
{{/self}}
{{^self}}
<p>You are viewing @{{username}}'s profile </p>

<h class="wtxt">Profile hint:</h><p>{{hint}}</p>
{{/self}}

<button>New Question</button>

{{#self}}
<br><br><a href="/account/edit"><button>Edit profile</button></a>
<form action="account/logout" method="post">
<br><br><button>Log Out</button>
<input type="hidden" value="" name="bt">
<input type="hidden" value="{{username}}" name="username">
<input type="hidden" value="lo" name="request">
</form>
{{/self}}
{{^self}}
{{/self}}










	</body>
</html>

