<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>@{{username}} - Qboard </title>
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>{{request}} successful. <br> Welcome to Q board</p>

<p>Hello there {{username}} </p>

<p>Your email is {{email}} </p>

{{!-- let newUser = {
		request: req.body.request,
		username: req.body.username,
		email: req.body.email,
		bt: req.body.bt
	} --}}


<a href="/account/logout"><button>Log Out</button></a>








	</body>
</html>

