<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>@{{username}} - Qboard </title>
	</head>

	<body>
<br>
<a href="/"><img src="/images/art.jpg"/></a>


<p class="wtxt">Your question has been posted:</p>

<p>question: {{questions}}</p>
<p>id: {{ownerID}}</p>
<p>username: {{ownerUsername}}</p>





	</body>
</html>

