<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>Sign Up</title>
	</head>

	<body>
<br>
<img src="/images/art.jpg"/>

<p>Welcome to Q board</p>

<p>Please create an account below</p>


<form action="/account/create" method="post">

<label for="name">Your Name</label><br>
<input type="text" name="name" placeholder="Name" value="Chris"/><br><br>

<label for="email">Your Email</label><br>
<input type="text" name="email" placeholder="Email" value="test@test.com"/><br><br>

<label for="username">Your Username</label><br>
<input type="text" name="username" placeholder="Username" value="chrisenitan"/><br><br>

<input type="hidden" name="bt" value=""/><br><br>

<input type="hidden" name="request" value="signup" placeholder="Username"/><br>

<button>Sign Up</button>


</form>








	</body>
</html>

