<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
	</head>

	<body>

<p>{{message}}</p>

<a href="{{name}}"><p>{{name}}</p></a>

<img src="/images/art.jpg"/>

<p>Company is: {{company}}</p>

<p>Languages are: </p>

<ol>
{{#languages}}

{{.}}
<br>
{{/languages}}
</ol>


<form action="/profile" method="post">

<input type="text" name="name" placeholder="Name"/><br><br>

<input type="text" name="email" placeholder="Email"/><br><br>

<input type="text" name="username" placeholder="Username"/><br><br>

<input type="text" name="bt" placeholder="(/image/..jpg)" value="/images/art.jpg"/><br><br>

<button>Sign Up</button>


</form>








	</body>
</html>

