<html>
	<head>
	{{> resources}}

<title>Book Updated</title>
	</head>

	<body>
<br><br>
	<p>{{message}}</p>
<img src="/images/art.jpg"><br><br> 


{{> postDiv}}

<a href="/sql/update/{{id}}"><button id="submit"><i class="material-icons" style="font-size:14px;vertical-align:text-top">edit</i> Edit Book</button></a>

	</body>
</html>

