<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

	<p>Posts Rendered</p>
<img src="/images/art.jpg">


<p>Writer: {{user}}</p>
<p>Age: {{age}}</p>
<p>Greetings: {{text}}</p>




	</body>
</html>

