<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>{{#ownerUsername}}@{{ownerUsername}} asked{{/ownerUsername}}{{^ownerUsername}}Nil{{/ownerUsername}} Question - Qboard </title>
	</head>

	<body>
<br>
<a href="/"><img src="/images/art.jpg"/></a>


{{#new}}
<p class="wtxt">Your question has been posted:</p>
{{/new}}

{{#q}}
<p>question: {{q}}</p>
<p>id: {{ownerID}}</p>
<a href="/{{ownerUsername}}"><p>username: @{{ownerUsername}}</p></a>

<a href="/q/edit/{{refID}}"><button>Edit Question</button></a>
<a href="/q/delete/{{refID}}"><button>Delete Question</button></a>
<a href="/q/data/{{refID}}"><button>View Question Data</button></a>

{{/q}}

{{^q}}
{{message}}
{{/q}}



	</body>
</html>

