<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
 {{> resources}}
  <title>{{#ownerUsername}}@{{ownerUsername}} asked{{/ownerUsername}}{{^ownerUsername}}Nil{{/ownerUsername}} Question - Qboard </title>
	</head>

	<body>
<br>
<a href="/"><img src="/images/art.jpg"/></a>


{{#new}}
<p class="wtxt">Your question has been posted:</p>
{{/new}}

{{#questions}}
<p>question: {{questions}}</p>
<p>id: {{ownerID}}</p>
<a href="/{{ownerUsername}}"><p>username: @{{ownerUsername}}</p></a>

<a href=""><button>Delete Question</button></a>
{{/questions}}

{{^questions}}
{{message}}
{{/questions}}



	</body>
</html>

