<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		{{> resources}}
 		<title>Ask a question</title>
	</head>

	<body>
		<a href="/"><img src="/images/art.jpg"></a>
		<form method="post" action="/q/create">
			<p>Ask a new question</p>
			{{#authPass}}
			<p>You have the access to</p>
			{{/authPass}}
		<label for="username">Question</label><br>
		<textarea name="q" required/>
		What if...
		</textarea><br><br>
		<input type="hidden" name="bt">
		<button>Submit</button>
		</form>

		<a href="/{{data.username}}"><button class="altbutton">Cancel</button></a>
	

	</body>
</html>

