body{
	background-color: #384150;
	font-family: 'Rubik';
}
p{
	color: #04d098;
	font-weight: bold;
}
.wtxt{
	color:#fff;
	font-family: Raleway;
}
img{
	width: auto;
	height: 120px;
	border-radius: 3px;
}
li{
	color: #fff;
}
input{
	height: 30px;
	width: 210px;
	background-color: transparent;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	color: #fff;
}
button{
	height: 30px;
	width: 210px;
	color: #fff;
	background-color: red;
	border: 1px solid #a9ffa9;
	border-radius: 3px;
}
textarea{
	height: 80px;
	width: 210px;
	background-color: transparent;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	color: #fff;
}