<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
{{> resources}}
	</head>

	<body>

	<p>Posts Rendered</p>
<img src="/images/art.jpg">
<br>


<p>This is our 404<br>

Nothing here!</p>



	</body>
</html>

