<html>
	<head>
	{{> resources}}

<title>All Books</title>
	</head>

	<body>
<br><br>
	<p>Checkout our collection of books available:</p>

<img src="/images/art.jpg"><br><br> 

{{!-- Using the post element --}}

{{#results}}

{{> postDiv}}

{{/results}}



	</body>
</html>

