<html>
	<head>
	{{> resources}}

<title>Book Saved</title>
	</head>

	<body>
<br><br>
	<p>New Book Saved</p>
<img src="/images/art.jpg"><br><br> 


{{> postDiv}}


	</body>
</html>

