<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

	<p>Result from Content Request</p>

<p>Username is: {{username}}</p>

<p>Occupation is: {{occupation}}</p>







	</body>
</html>

