<html>
	<head>
	{{> resources}}

<title>Add a New Post [Book]</title>
	</head>

	<body>
<br><br>
	<p>Fill in the data of your book below </p>

<script>
  document.body.append(showUrl);

  document.body.appendChild(para);
</script>


<img src="/images/art.jpg"><br><br> 


<form action="/sql/createpost" method="POST"> 

	<input required type="text" name="title" placeholder="Title" value="On Cosmos" /><br><br>

	<textarea required name="body">This is the short description of the book. We hope you add the main idea from the author here and also how long the book is.</textarea><br><br>

	<input type="text" name="owner" placeholder="Owner" value="Chris Enitan" required/><br><br>

	<button><i class="material-icons" style="font-size:14px;vertical-align:text-top">save</i> Create Post</button><br>

</form>





	</body>
</html>

