<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

	<p>This is template</p>


<img src="/images/art.jpg"><br><br> 


<form action="/postContent" method="POST"> 

	<input type="text" name="username" placeholder="Name" value="Chris" /><br><br>

	<input type="text" name="occupation" placeholder="Occupation" value="Teacher" /><br><br>

	<button>Submit</button><br>

</form>

<p>Visit sample profile</p>
<a href="/profile/chris"><button>Chris</button></a>
<br>
<br>

Users:
{{#paul}}

{{paul.company}}

{{/paul}}

	</body>
</html>

