<html>
	<head>
		{{> resources}}
<title>Add a New Post [Book]</title>
	</head>

	<body>

	<p>Fill in the data of your book below</p>


<img src="/images/art.jpg"><br><br> 


<form action="/sql/createpost" method="POST"> 

	<input type="text" name="title" placeholder="Title" value="On Cosmos" /><br><br>

	<textarea name="body">This is the short description of the book. We hope you add the main idea from the author here and also how long the book is.</textarea><br><br>

	<input type="text" name="owner" placeholder="Owner" value="Chris Enitan" /><br><br>

	<button>Submit</button><br>

</form>

<br>
<br>


	</body>
</html>

