<html>
	<head>
		{{> resources}}
<title>{{title}}</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>Post {{title}} Rendered</p>
<img src="/images/art.jpg">

<p>Id: {{id}}</p>
<p>Title: {{title}} by</p>
<p><span class="material-icons">person</span> {{owner}}</p>
<p>Body:<br>
 {{text}}</p>



	</body>
</html>

