<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

	</head>

	<body>

<p>{{message}}</p>

<a href="{{name}}"><p>{{name}}</p></a>

<img src="{{image}}"/>

<p>Company is: {{company}}</p>

<p>Languages are: </p>

<ol>
{{#languages}}
<li>
{{.}}
</li>
{{/languages}}
</ol>


<form action="/addprofile" method="post">
<input type="text" name="id" placeholder="Name" value="randomId"/><br><br>

<input type="text" name="name" placeholder="Name" value="paul"/><br><br>

<input type="text" name="company" placeholder="Company" value="F500"/><br><br>

<input type="text" name="image" placeholder="(/image/..jpg)" value="/images/art.jpg"/><br><br>

<input type="text" name="languages" placeholder="Lang" value="English, Javascript"/><br><br>

<button>Add New Profile</button>


</form>








	</body>
</html>

