<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<title>{{title}}</title>
	</head>

	<body>
<!--recieve //id title body owner from sqlRoute.js-->
	<p>Post {{title}} Rendered</p>
<img src="/images/art.jpg">

<p>Id: {{id}}</p>
<p>Title: {{title}} by</p>
<p>{{owner}}</p>
<p>Body:<br>
 {{text}}</p>




	</body>
</html>

