<html>
	<head>
	{{> resources}}

<title>Update your book</title>
	</head>

	<body>
<br><br>
	<p>Found book <h>#{{id}}</h><br></p> 


<img src="/images/art.jpg"><br><br> 
	<p>Please make your changes below.</p>


	</body>
</html>

